body {
    font-size: 100px;
}

#em_parent {
    height: 200px;
    width: 200px;
    background-color: aqua;
    font-size: 25px;
}

#em {
    background-color: blueviolet;
    width: 70%;
    height: 50%;
    font-size: 2em;
}