#percentage_parent {
    height: 200px;
    width: 200px;
    background-color: aqua;
    font-size: 25px;
}

#percentage {
    background-color: blueviolet;
    width: 50%;
    height: 30%;
}