* {
    margin: 0;
    padding: 0;
}
.shrink {
    height: 75px;
    width: 75px;
    border: 3px solid black;
    margin-right: 5px;
}
#Flexbox_flex_shrink {margin-left: 50px;}
#flex_shrink {
    height: 150px;
    width: 500px;
    padding: 10px;
    margin: 20px;
    border: 3px solid black;

    display: flex;
    justify-content: space-between;
}

#shrink1  { background-color: aqua;}
#shrink2  { background-color: blueviolet;}
#shrink3 {
    background-color: yellow;
flex-shrink: 0.5;
}
#shrink4 { background-color: tomato;flex-shrink: 2;}