#font_family{font-family: 'Courier New', Courier, monospace;}
#font_family1{font-family: 'Times New Roman', Times, serif;}
#font_family2{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
