/*element selector*/
h2 {
  color: green;
}
h3 {
  background-color: #fc03be;
}
/*universl selector*/
* {
  background-color: rgb(245, 245, 255);
  margin: 0;
  padding: 0;
}
/*group selector*/
h1,
h3,
h4,
p {
  color: rgba(239, 12, 12, 0.529);
}
/*descendant selector*/
p,
h5 {
  background-color: yellow;
}
/*image,video,anchor*/
#image {
  height: 300px;
}
#video {
  height: 200px;
  width: 200px;
}
#vs_code {
  background-image: url(https://img.freepik.com/premium-photo/white-paper-sheet-isolated-gray-background-with-clipping-path_64749-4890.jpg?semt=ais_hybrid&w=740&q=80);
}
/*visibility property*/
b {
  visibility: hidden;
}
i {
  visibility: visible;
} /*by default*/

/*text property*/
pre {
  text-align: center;
}
pre {
  text-decoration: underline;
}
pre {
  text-decoration-style: wavy;
}
pre {
  text-decoration-color: red;
}
pre {
  text-transform: uppercase;
}

/*line height between sentence property*/
big {
  line-height: 1px;
}
small {
  line-height: 50px;
}

/*font property*/
h1 {
  font-size: 20px;
}
h1 {
  font-weight: 50;
}
h2 {
  font-weight: 900;
}
h1 {
  font-style: italic;
}
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*box mmodel- border, margin, padding property*/
.box1 {
  height: 50px;
  width: 50px;
  background-color: #fc03be;
  border: 4px solid black;
  margin: 50px 50px 50px 20px;
  padding: 20px 20px 20px 20px;
}
#box2 {
  border-radius: 5px;
  box-sizing: border-box;
}
#box3 {
  border-radius: 5px 0px 5px 0px;
  box-sizing: content-box;
}

/*block display, inline display, inline-block display*/
.box2 {
  height: 50px;
  width: 50px;
  background-color: #fc03be;
  border: 4px solid black;
  display: block;
}
.box3 {
  height: 50px;
  width: 50px;
  background-color: #fc03be;
  border: 4px solid black;
  display: inline;
}
.box4 {
  height: 50px;
  width: 50px;
  background-color: #fc03be;
  border: 4px solid black;
  display: inline-block;
}

/*relative units- percentage, em, rem, vw, vh*/
/*perceentage %*/
.family {
  background-color: #0da3f4;
  border: 4px solid black;
}
#parent_box {
  height: 200px;
  width: 200px;
}
#child_box {
  height: 50%;
  width: 50%;
}
/*em*/
#parent_box {
  font-size: 5px;
}
#child_box {
  font-size: 2em;
}
/*rem*/
.family1 {
  background-color: #0da3f4;
  border: 4px solid black;
  height: 200px;
  width: 200px;
}
#parent_box1 {
  font-size: 6rem;
}
#child_box1 {
  font-size: 2rem;
}
/*vw,vh*/
#vhvw {
  background-color: #440fe2;
  border: 4px solid black;
  height: 50vh;
  width: 90vw;
}
/*position property- static,relative,fixed,absolute,z-index*/
.position_property {
  background-color: #440fe2;
  border: 4px solid rgb(255, 255, 255);
  height: 70px;
  width: 70px;
}
#static {
  position: static;
}
#relative {
  position: relative;
  top: 20px;
  left: 50px;
}
#fixed {
  position: fixed;
  top: 50px;
  left: 20px;
}
#absolute {
  position: absolute;
  top: 1100px;
  left: 40px;
}
.z_index {
  background-color: #440fe2;
  border: 4px solid rgb(255, 255, 255);
  height: 50px;
  width: 50px;
}
#z_index1 {
  z-index: 1;
}
#z_index2 {
  z-index: 2;
}
#z_index3 {
  z-index: 3;
}
/*grid*/
.grid {
  display: grid;
  grid-template-columns: 50px 70px;
  grid-template-rows: 50px 50px;
}
#box1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: blueviolet;
}
#box2 {
  grid-column: 2/2;
  grid-row: 1/2;
  background-color: rgb(37, 205, 132);
}
#box3 {
  grid-column: 1/2;
  grid-row: 2/2;
  background-color: aqua;
}
#box4 {
  grid-column: 2/2;
  grid-row: 2/2;
  background-color: #fc03be;
}
/*MEDIA QUERIES*/
#MEDIA {
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 2px SOLID blue;
}
@media screen AND (min-width: 300px) AND (max-width: 350px) {
  #MEDIA {
    min-width: 150px;
    width: 150px;
    background-color: #fc03be;
    border-radius: 50px;
  }
}
/*PSEUDO-HOVER AND ACTIVE*/
.PSEUDO_BUTTON {
  height: 20px;
  width: 70px;
  border: 1px SOLID BLUE;
  border-radius: 30px;
}
.PSEUDO_BUTTON:hover {
  height: 25px;
  width: 80px;
  border: 1px SOLID RED;
  border-radius: 30px;
}
.PSEUDO_BUTTON:active {
  height: px;
  width: 80px;
  border: 1px SOLID RED;
  background-color: dodgerblue;
  border-radius: 30px;
}
/*TRANSITION*/
.TRANSITION {
  height: 30px;
  width: 80px;
  border: 1px SOLID rgb(25, 24, 24);
  border-radius: 5px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  background-color: rgb(3, 74, 2);
}
.TRANSITION:hover {
  height: 35px;
  width: 90px;
  background-color: lightcoral;
}
.TRANSITION:active {
  height: 35px;
  width: 90px;
  border: 1px SOLID rgb(225, 236, 144);
  background-color: rgb(241, 28, 5);
}
/*CSS TRANSFORM- ANIMATION,SCALE, Translate, skew*/
.rotate {
  background-color: #440fe2;
  height: 25px;
  width: 25px;
  border: 1px solid black;
}
.rotate:hover {
  transform: rotate(45deg);
}

.scale {
  background-color: #440fe2;
  height: 25px;
  width: 25px;
  border: 1px solid black;
}
.scale:hover {
  transform: scale(2);
}

.translate {
  background-color: #440fe2;
  height: 25px;
  width: 25px;
  border: 1px solid black;
}
.translate:hover {
  transform: translate(20px);
}
.skew {
  background-color: #fc03be;
  height: 30px;
  width: 30px;
  border: 2px solid black;
}
.skew:hover {
  transform: skew(45deg);
}
/*float property*/
.float{height: 20px;background-color: beige;border: 3px solid black;}
#float_1{background-color:brown; float: right;}
#float_2{background-color: brown; float: left;}